     <div class="container">
    <div class="col-sm-6">
      <h2>Burgers to Eat!</h2>
     
      {{#each burgers}}
          <div >
            {{this.id}}. {{this.burger_name}}
          </div>
      {{/each}}
    </div>
    </div>